<a href="https://colab.research.google.com/github/68nizam/ShadowFox-Python-Development/blob/main/shadow_fox_Beginner_level.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task Level (Beginner):**

1. **Variables**:


1. Create a variable named pi and store the value 22/7 in it.
Now check the data type of this variable.
2. Create a variable called for and assign it a value 4. See what
happens and find out the reason behind the behavior that you see.
3. Store the principal amount, rate of interest, and time in
different variables and then calculate the Simple Interest for 3
years. Formula: Simple Interest = P x R x T / 100

In [ ]:
pi=22/7
print(f"Value of pi:{pi}")
print(f"Data type of pi:{type(pi)}")

Value of pi:3.142857142857143
Data type of pi:<class 'float'>

In [ ]:
for_value=4
print(f"Value of the variable 'for_value':{for_value}")

Value of the variable 'for_value':4

In [ ]:
principal=1000
rate_of_insterest=5
time_period=3
simple_interest=(principal*rate_of_insterest*time_period)/100
print(f"Simple Intersest for {time_period}years:{simple_interest}")

Simple Intersest for 3years:150.0

2). Numbers

1. Write a function that takes two arguments, 145 and 'o', and uses the `format` function to return a formatted string. Print the result. Try to identify the representation used.
2. In a village, there is a circular pond with a radius of 84 meters. Calculate the area of the pond using the formula: Circle Area = π
r^2. (Use the value 3.14 for π) Bonus Question: If there is exactly 1.4 liters of water in a square meter, what is the total amount of
water in the pond? Print the answer without any decimal point in it.
Hint: Circle Area = π r^2 Water in the pond = Pond Area Water per Square Meter
3. If you cross a 490meterlong street in 7 minutes, calculate your
speed in meters per second. Print the answer without any decimal point in it.
Hint: Speed = Distance / Time

In [ ]:
def format_as_octal(number):
  return format(number,'o')
result=format_as_octal(145)
print("Octal representation of 145 is:",result)

Octal representation of 145 is: 221

In [ ]:
def pond_area_and_water(radius):
  pi=3.14
  area=pi*radius**2
  water_per_sq_meter=1.4
  total_water=int(area*water_per_sq_meter)
  return total_water
total_water_in_pond=pond_area_and_water(84)
print("Total water in the pond(liters):",total_water_in_pond)

Total water in the pond(liters): 31018

In [ ]:
def calculate_speed(distance,time_minutes):
  time_seconds=time_minutes*60
  speed=int(distance/time_seconds)
  return speed
speed=calculate_speed(490,7)
print("speed in meters per second:",speed)

speed in meters per second: 1

3. List


1. You have a list of superheroes representing the Justice
League. justice_league = ["Superman","Batman","WonderWoman","Flash","Aquaman","Green Lantern"]

Perform the following tasks:
1. Calculate the number of members in the Justice League.
2. Batman recruited Batgirl and Nightwing as new members. Add them to your list.
3. Wonder Woman is now the leader of the Justice League. Move her to the beginning of the list.
4. Aquaman and Flash are having conflicts, and you need to
separate them. Choose either "Green Lantern" or "Superman" and move them in between Aquaman and Flash.
5. The Justice League faced a crisis, and Superman decided to assemble a new team. Replace the existing list with the following
new members: "Cyborg","Shazam","Hawkgirl","MartianManhunter","Green Arrow".
6. Sort the Justice League alphabetically. The hero at the 0th
index will become the new leader.
(BONUS: Can you predict who the new leader will be?)
Your task is to write Python code to perform these operations on
the "justice_league" list. Display the list at each step to observe
the changes.

In [ ]:
justice_league = ["Superman","Batman","Wonder Woman","Flash", "Aquaman","Green Lantern"]

num_members=len(justice_league)
print(f"1. Number of Justice League members:{num_members}")
print(f"Justice League:{justice_league}\n")
justice_league.append("Batgirl")
justice_league.append("Nightwing")
print(f"2.After adding Batgirl and Nightwing:{justice_league}\n")
justice_league.remove("Wonder Woman")
justice_league.insert(0,"Wonder Woman")
print(f"3. Wonder Woman is now the leader:{justice_league}\n")
justice_league.remove("Green Lantern")
flash_index=justice_league.index("Flash")
justice_league.insert(flash_index,"Green Lantern")
print(f"4. After moving Green Lantern between Aquaman and Flash:{justice_league}\n")
justice_league=["Cyborg","Shazam","Hawkgirl","Martian Manhunter","Green Arrow"]
print(f"5. New team after Superman assembled a new justice League:{justice_league}\n")
justice_league.sort()
new_leader=justice_league[0]
print(f"6. Justice League sorted alphabetically:{justice_league}")
print(f"New leader:{new_leader}")

1. Number of Justice League members:6
Justice League:['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman', 'Green Lantern']

2.After adding Batgirl and Nightwing:['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

3. Wonder Woman is now the leader:['Wonder Woman', 'Superman', 'Batman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

4. After moving Green Lantern between Aquaman and Flash:['Wonder Woman', 'Superman', 'Batman', 'Green Lantern', 'Flash', 'Aquaman', 'Batgirl', 'Nightwing']

5. New team after Superman assembled a new justice League:['Cyborg', 'Shazam', 'Hawkgirl', 'Martian Manhunter', 'Green Arrow']

6. Justice League sorted alphabetically:['Cyborg', 'Green Arrow', 'Hawkgirl', 'Martian Manhunter', 'Shazam']
New leader:Cyborg

4. If Condition



1. Write a program to determine the BMI Category based on user input.
Ask the user to:
Enter height in meters
Enter weight in kilograms
Calculate BMI using the formula: BMI = weight / (height)2
Use the following categories:
If BMI is 30 or greater, print "Obesity"
If BMI is between 25 and 29, print "Overweight"
If BMI is between 18.5 and 25, print "Normal"
If BMI is less than 18.5, print "Underweight"
Example:
Enter height in meters: 1.75
Enter weight in kilograms: 70
Output: "Normal"

2. Write a program to determine which country a city belongs to. Given
list of cities per country:
Australia = ["Sydney"
,
"Melbourne"
,
"Brisbane"
,
"Perth"]

UAE = ["Dubai"
,
"Abu Dhabi"
,
"Sharjah"
,
"Ajman"]

India = ["Mumbai"
,
"Bangalore"
,
"Chennai"
,
"Delhi"]

Ask the user to enter a city name and print the corresponding country.

Example:

Enter a city name: "Abu Dhabi"
Output: "Abu Dhabi is in UAE"

In [ ]:
australia = ["sydney", "melbourne", "brisbane", "perth"]
uae = ["dubai", "abu dhabi", "sharjah", "ajman"]
india = ["mumbai", "bangalore", "chennai", "delhi"]

city1 = input("Enter the first city: ").lower()
city2 = input("Enter the second city: ").lower()

def get_country(city):
    if city in australia:
        return "Australia"
    elif city in uae:
        return "UAE"
    elif city in india:
        return "India"
    else:
        return "Unknown"

# These lines should be outside the function
country1 = get_country(city1)
country2 = get_country(city2)

if country1 == country2 and country1 != "Unknown":
    print(f"Both cities are in {country1}")
else:
    print("They don't belong to the same country")

Enter the first city: Mumbai
Enter the second city: Chennai
Both cities are in India

8. Classes and Objects:


1.Avengers is a Marvel’s American Superheroes team, Now you want to
showcase your programming skills by representing the Avengers team using
classes. Create a class called Avenger and create these six superheroes using this
class.
2. super_heroes = ["Captain America", "Iron Man", "Black Widow", "Hulk",
"Thor", "Hawkeye"]
3. Your Avenger class should have these properties:


1. Name
2. Age
3. Gender
4. Super Power
5. Weapon


4. Captain America has Super strength, Iron Man has Technology, Black Widow
is superhuman, Hulk has Unlimited Strength, Thor has super Energy and
Hawkeye has fighting skills as superpowers.
5. Weapons: Shield, Armor, Batons, No Weapon for hulk, Mjölnir, Bow, and
Arrows
6. Create methods to get the information about each superhero
7. Create a method is_leader() which will tell if the superhero is a leader or not.

In [ ]:
class Avenger:
    def __init__(self, name, age, gender, super_power, weapon):
        self.name = name
        self.age = age
        self.gender = gender
        self.super_power = super_power
        self.weapon = weapon

    def get_info(self):
        return (f"Name: {self.name}\n"
                f"Age: {self.age}\n"
                f"Super Power: {self.super_power}\n"
                f"Weapon: {self.weapon}")

    def is_leader(self):
        return self.name == "Captain America"

# List of superheroes
super_heroes = [
    Avenger("Captain America", 100, "Male", "Super Strength", "Shield"),
    Avenger("Iron Man", 48, "Male", "Technology", "Armor"),
    Avenger("Black Widow", 35, "Female", "Superhuman", "Batons"),
    Avenger("Hulk", 50, "Male", "Unlimited Strength", "No Weapon"),
    Avenger("Thor", 1000, "Male", "Super Energy", "Mjolnir"),
    Avenger("Hawkeye", 45, "Male", "Fighting Skills", "Bow and Arrows")
]

# Printing information about each superhero
for hero in super_heroes:
    print(hero.get_info())
    print("Is Leader:", hero.is_leader())
    print("-" * 40)

Name: Captain America
Age: 100
Super Power: Super Strength
Weapon: Shield
Is Leader: True
----------------------------------------
Name: Iron Man
Age: 48
Super Power: Technology
Weapon: Armor
Is Leader: False
----------------------------------------
Name: Black Widow
Age: 35
Super Power: Superhuman
Weapon: Batons
Is Leader: False
----------------------------------------
Name: Hulk
Age: 50
Super Power: Unlimited Strength
Weapon: No Weapon
Is Leader: False
----------------------------------------
Name: Thor
Age: 1000
Super Power: Super Energy
Weapon: Mjolnir
Is Leader: False
----------------------------------------
Name: Hawkeye
Age: 45
Super Power: Fighting Skills
Weapon: Bow and Arrows
Is Leader: False
----------------------------------------